/* Shop Pages */

/* Checkout & Cart NFT Section */

.nft-section {
    padding: 125px 0 130px 0;
}
.nft-section .circle {
    top: -61px;
    right: -106px;
}
.nft-section .preview-box {
    padding: 19px;
    background: var(--e-global-color-white);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.nft-section .preview-box:hover {
    box-shadow: 0px 0px 100px rgba(0 0 0 / 10%);
    background: var(--e-global-color-white);
    border: 1px solid var(--e-global-color-white);
}
.nft-section .preview-box .preview-img {
    margin-bottom: 18px;
}
.nft-section .preview-box-top {
    margin-bottom: 11px;
}
.nft-section .preview-box-top i {
    font-size: 22px;
    line-height: 30px;
    color: var(--e-global-color-accent);
}
.nft-section .preview-box-middle {
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}
.nft-section .preview-box-middle .left {
    float: left;
    width: 70%;
}
.nft-section .preview-box-middle .left figure {
    float: left;
    display: inline-block;
    margin-right: 16px;
}
.nft-section .preview-box-middle .left .name {
    font-size: 16px;
    line-height: 17px;
    display: block;
    font-weight: 400;
    padding-top: 7px;
}
.nft-section .preview-box-middle .left .mail {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.nft-section .preview-box-middle .right {
    float: right;
    width: 30%;
}
.nft-section .preview-box-middle .right .bid {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    display: block;
    padding-top: 5px;
    color: var(--e-global-color-text);
}
.nft-section .preview-box-middle .right .price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.nft-section .preview-box a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    padding: 22px 23px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--e-global-color-white);
    background-image: linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-accent) 100%);
}
.nft-section .preview-box a:hover {
    background-image: linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-accent) 100%);
}
.nft-section h4{
    color: var(--e-global-color-secondary);
}
.nft-section .create-nft-box {
    padding: 30px 13px;
    line-height: 0;
    background: var(--e-global-color-white);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.nft-section .create-nft-box:hover {
    box-shadow: 0px 0px 100px rgba(0 0 0 / 10%);
    background: var(--e-global-color-white);
    border: 1px solid var(--e-global-color-white);
}
.nft-section .create-nft-box .form-group label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: var(--e-global-color-secondary);
}
.nft-section .create-nft-box .form-group {
    float: left;
    width: 47.1%;
    margin: 0 10px;
}
.nft-section .create-nft-box .special {
    width: 97% !important;
}
.nft-section .create-nft-box .form-group .form-control {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    height: 50px;
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-white);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding: 12px 20px;
    margin-bottom: 22px;
    width: 100%;
    overflow: visible;
    outline: none;
}
.nft-section .form-control::placeholder { 
    color: var(--e-global-color-test);
    opacity: 1;
}
.nft-section .create-nft-box .form-group .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--e-global-color-accent);
}
.nft-section .create-nft-box .form-group select {
    -webkit-appearance: none;
    background-repeat: no-repeat !important;
    background-position: 94.3% 26px !important;
    background-image: url('https://html.designingmedia.com/yogadelight/assets/images/dropdown-arrow.png') !important;
}
.nft-section input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background-image: url(https://html.designingmedia.com/yogadelight/assets/images/calendar.png);
}
.nft-section .create-nft-box .form-group textarea {
    height: 117px !important;
    border-radius: 20px !important;
}
.nft-section .create-nft-box .form-check {
    float: left;
    width: 50%;
    padding-left: 30px;
    padding-top: 19px;
}
.nft-section .create-nft-box .form-check input {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 0;
    border: 1px solid var(--e-global-color-accent);
    border-radius: 100px;
    -webkit-appearance: none;
}
.nft-section .create-nft-box .form-check input:checked {
    -webkit-appearance: auto;
}
.nft-section .create-nft-box .form-check label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 15px;
    display: block;
}
.nft-section .create-nft-box .btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 21px 37px;
    margin-right: 12px;
    border: none;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--e-global-color-white);
    background-image: linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-accent) 100%);
}
.nft-section .create-nft-box .btn:hover {
    background-image: linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-accent) 100%);
}
.nft-section .create-nft-box .btn-outer {
    float: left;
    width: 100%;
    padding-top: 15px;
}

/* Checkout & Cart Checkout Section */

.checkout-section .create-nft-box .form-group select {
    background-position: 96.3% 22px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.checkout-section .preview-box {
    float: left;
    width: 100%;
}
.checkout-section .preview-box .product-outer {
    padding: 15px 0;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.checkout-section .preview-box .product-outer span {
    font-size: 16px;
    line-height: 17px;
    display: inline-block;
    font-weight: 600;
    color: var(--e-global-color-secondary);
}
.checkout-section .preview-box .product-outer .total {
    padding-top: 3px;
    color: var(--e-global-color-secondary);
    font-weight: 400;
}
.checkout-section .preview-box .shipping-outer {
    padding: 15px 0;
}
.checkout-section .preview-box .shipping-outer .shipping {
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    display: block;
    color: var(--e-global-color-secondary);
    margin-bottom: 15px;
}
.checkout-section .preview-box .shipping-outer .price {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    display: block;
    color: var(--e-global-color-secondary);
}
.checkout-section .preview-box .total-price-outer {
    padding: 15px 0;
}
.checkout-section .preview-box .total-price-outer span {
    font-size: 16px;
    line-height: 17px;
    display: inline-block;
    font-weight: 600;
    color: var(--e-global-color-secondary);
}
.checkout-section .preview-box .total-price-outer .total {
    padding-top: 3px;
    color: var(--e-global-color-secondary);
    font-weight: 400;
}
.checkout-section .preview-box .form-check {
    padding: 0 !important;
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.checkout-section .preview-box .form-check input {
    width: 20px;
    height: 20px;
    line-height: 24px;
    margin-top: 4px;
    border: 1px solid var(--e-global-color-secondary);
    box-shadow: none;
    border-radius: 100px;
    -webkit-appearance: none;
}
.checkout-section .preview-box .form-check input:checked {
    -webkit-appearance: auto;
}
.checkout-section .preview-box .form-check [type="radio"]:checked,
.checkout-section .preview-box .form-check [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkout-section .preview-box .form-check [type="radio"]:checked+label,
.checkout-section .preview-box .form-check [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
}
.checkout-section .preview-box .form-check [type="radio"]:checked+label:before,
.checkout-section .preview-box .form-check [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--e-global-color-secondary);
    border-radius: 100%;
    background: #fff;
}
.checkout-section .preview-box .form-check [type="radio"]:checked+label:after,
.checkout-section .preview-box .form-check [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--e-global-color-accent);
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkout-section .preview-box .form-check [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.checkout-section .preview-box .form-check [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.checkout-section .preview-box .form-check:last-child label {
    position: relative;
    cursor: pointer;
}
.checkout-section .preview-box .form-check:last-child label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--e-global-color-accent);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 11px;
}
.checkout-section .preview-box .form-check label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: var(--e-global-color-secondary) !important;
}
.checkout-section .preview-box .form-check p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 29px;
    color: var(--e-global-color-secondary);
}
.checkout-section .preview-box .btn-outer .btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 18px 45px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: var(--e-global-color-white) !important;
    background: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    border: none;
}
.checkout-section .preview-box .btn-outer .btn .circle {
    border-radius: 100px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 3px 0 18px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-family: 'FontAwesome';
    transition: all 0.3s ease;
    color: var(--e-global-color-secondary);
    background: var(--e-global-color-white);
}
.checkout-section .preview-box .btn-outer .btn:hover {
    color: var(--e-global-color-white) !important;
    background: var(--e-global-color-secondary);
}
.checkout-section .preview-box .btn-outer .btn:hover .circle{
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-white);
}

/* Cart Section */

.cart-section .product-detail-box {
    padding: 50px;
}
.cart-section .product-image {
    float: left;
    width: 14%;
}
.cart-section .product-details {
    float: left;
    width: 34%;
}
.cart-section .product-price {
    float: left;
    width: 15%;
    color: var(--e-global-color-secondary);
}
.cart-section .product-quantity {
    float: left;
    width: 16%;
}
.cart-section .product-removal {
    float: left;
    width: 9%;
}
.cart-section .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
    color: var(--e-global-color-secondary);
}
/* This is used as the traditional .clearfix class */
.cart-section .group:before, .cart-section .shopping-cart:before, .cart-section .column-labels:before, .cart-section .product:before, .cart-section .totals-item:before,
.cart-section .group:after,
.cart-section .shopping-cart:after,
.cart-section .column-labels:after,
.cart-section .product:after,
.cart-section .totals-item:after {
    content: '';
    display: table;
}
.cart-section .group:after, .cart-section .shopping-cart:after, .cart-section .column-labels:after, .cart-section .product:after, .cart-section .totals-item:after {
    clear: both;
}
.cart-section .group, .cart-section .shopping-cart, .cart-section .column-labels, .cart-section .product, .cart-section .totals-item {
    zoom: 1;
}
/* Body/Header stuff */
.cart-section label {
    color: var(--e-global-color-white);
}
/* Column headers */
.cart-section .column-labels label {
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    color: var(--e-global-color-secondary);
}
.cart-section .column-labels .product-image {
    text-indent: -9999px;
}
/* Product entries */
.cart-section .product {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.cart-section .product .product-image {
    text-align: left;
}
.cart-section .product .product-image img {
    width: 100px;
    border: 1px solid var(--e-global-color-white);
    border-radius: 10px;
}
.cart-section .product .product-details .product-title {
    margin-right: 20px;
    color: var(--e-global-color-secondary);
}
.cart-section .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}
.cart-section .product .product-quantity input {
    width: 40px;
    background: transparent;
    color: var(--e-global-color-secondary);
    border: 1px solid rgb(0 0 0 / 10%);
    text-align: center;
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
}
.cart-section .product .product-quantity input:focus-visible {
    outline: none;
}
.cart-section .product .remove-product {
    border: 0;
    padding: 4px 8px;
    border: 1px solid rgb(0 0 0 / 10%);
    background: transparent;
    color: var(--e-global-color-secondary);
    font-size: 12px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.cart-section .product .remove-product:hover {
    border: 1px solid var(--e-global-color-accent);
    background: var(--e-global-color-accent);
    color: var(--e-global-color-white);
}
.cart-section .preview-box .btn-outer .btn {
    width: auto;
    box-shadow: none;
    border: none;
}

/* Shop Section */

.shop_section {
    padding: 130px 0 110px;
}
.shop_section .nav-tabs {
    border-bottom: 0px solid var(--e-global-color-accent);
    justify-content: center;
    margin-bottom: 58px;
}
.shop_section .tabs-box .nav-tabs li {
    margin: 0 21px;
}
.shop_section .tabs-box .nav-tabs li:first-child {
    margin-left: 0;
}
.shop_section .tabs-box .nav-tabs li:last-child {
    margin-right: 0;
}
.shop_section .tabs-box .nav-tabs li a {
    display: inline-block;
    color: var(--e-global-color-secondary);
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 4px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.shop_section .tabs-box .nav-tabs li a:hover {
    cursor: pointer;
    color: var(--e-global-color-accent);
    border-bottom: 2px solid var(--e-global-color-accent);
}
.shop_section .tabs-box .nav-tabs li a.active {
    color: var(--e-global-color-accent);
    border-bottom: 2px solid var(--e-global-color-accent);
}
.shop_section .shop_box {
    background: var(--e-global-color-white);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box .shop_image_box {
    text-align: center;
}
.shop_section .shop_box .shop_image_box figure img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.shop_section .shop_box .shop_box_content {
    padding: 25px 30px;
}
.shop_section .shop_box .shop_box_content ul {
    margin-bottom: 10px;
}
.shop_section .shop_box .shop_box_content ul li {
    display: inline-block;
}
.shop_section .shop_box .shop_box_content ul li i {
    color: #f7b302;
    font-size: 12px;
    line-height: 12px;
}
.shop_section .shop_box .shop_box_content h5 {
    font-size: 20px;
    line-height: 26px;
    color: var(--e-global-color-secondary);
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box .shop_box_content p {
    color: var(--e-global-color-text);
    margin-bottom: 14px;
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box .shop_box_content .price_wrapper {
    margin-bottom: 12px;
}
.shop_section .shop_box .shop_box_content .price_wrapper span {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: var(--e-global-color-secondary);
    margin-left: -5px;
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box .shop_box_content .price_wrapper .dollar {
    margin-left: 0;
    padding-right: 5px;
}
.shop_section .shop_box .shop_box_content .btn_wrapper a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: var(--e-global-color-very-dark-gray);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box .shop_box_content .btn_wrapper a i {
    font-family: 'FontAwesome';
    padding-left: 15px;
    font-size: 14px;
    line-height: 14px;
    color: var(--e-global-color-very-dark-gray);
    transition: all 0.3s ease-in-out;
}
.shop_section .shop_box:hover{
    background: var(--e-global-color-secondary);
}
.shop_section .shop_box:hover h5 {
    color: var(--e-global-color-white);
}
.shop_section .shop_box:hover p {
    color: var(--e-global-color-white);
}
.shop_section .shop_box:hover .price_wrapper span {
    color: var(--e-global-color-white);
}
.shop_section .shop_box:hover .btn_wrapper a {
    color: var(--e-global-color-white);
}
.shop_section .shop_box:hover .btn_wrapper a i {
    color: var(--e-global-color-white);
}
.shop_section .shop_box .btn_wrapper a:hover {
    color: var(--e-global-color-accent);
} 
.shop_section .shop_box .btn_wrapper a:hover i {
    color: var(--e-global-color-accent);
}

/* Product Detail Page Style */

/* Product Detail Page Product Detail Section */

.product-detail {
    padding: 130px 0;
}
.product-detail .product-tab .tab-content {
    margin-bottom: 12px;
    float: left;
    width: 100%;
}
.product-detail .product-tab .tab-pane {
    padding: 20px;
    background: var(--e-global-color-white);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
    border-radius: 0;
    float: left;
    width: 100%;
}
.product-detail .product-tab .tab-pane figure img {
    width: 100%;
}
.product-detail .product-tab .nav-tabs {
    border: none;
    float: left;
    width: 100%;
}
.product-detail .product-tab ul li {
    padding: 0;
    background-color: var(--e-global-color-white);
    display: block;
    width: 31.6%;
    margin: 0 7px;
}
.product-detail .product-tab ul li a {
    padding: 7px;
    border-radius: 0;
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out;
    float: left;
    border: none;
}
.product-detail .product-tab ul li a:hover {
    border: 1px solid var(--borderline-color) !important;
}
.product-detail .product-tab ul li a:hover figure{
    cursor: pointer;
}
.product-detail .product-tab ul li:first-child {
    margin-left: 0;
}
.product-detail .product-tab ul li:last-child {
    margin-right: 0;
}
.product-detail .product-tab ul .active {
    background: var(--e-global-color-white);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);

    border: 1px solid var(--borderline-color);
    background-color: transparent !important;
    border-color: var(--borderline-color) !important;
    border-radius: 0 !important;
}
.product-detail .product-tab ul li a img {
    height: auto;
    width: 100%;
}
.product-detail .heading h3 {
    margin-bottom: 18px;
    color: var(--e-global-color-secondary);
}
.product-detail .heading .price_wrapper {
    margin-bottom: 15px;
}
.product-detail .heading .price_wrapper .dollar {
    margin-left: 0;
    padding-right: 5px;
}
.product-detail .heading .price_wrapper span {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--e-global-color-accent);
    margin-left: -5px;
    transition: all 0.3s ease-in-out;
}
.product-detail .heading p {
    margin-bottom: 28px;
    color: var(--e-global-color-text);
}
.product-detail .heading ul {
    padding-left: 25px;
    margin-bottom: 30px;
}
.product-detail .heading ul li {
    margin-bottom: 10px;
    color: var(--e-global-color-text);
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product-detail .heading ul li .circle {
    font-size: 9px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 4px;
    left: -25px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    color: var(--e-global-color-white);
    background-color: var(--e-global-color-accent);
}
.product-detail .heading a i {
    font-family: 'FontAwesome';
    padding-left: 25px;
    font-size: 14px;
    line-height: 14px;
    color: var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.product-detail .heading .cart_btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    /* font-family: 'Inter', sans-serif; */
    padding: 16px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: var(--e-global-color-white) !important;
    background: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}
.product-detail .heading .cart_btn .circle {
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 3px 0 18px;
    padding: 0;
    border-radius: 100px;
    display: inline-block;
    color: var(--e-global-color-accent);
    background: var(--e-global-color-white);
    font-family: 'FontAwesome';
    transition: all 0.3s ease-in-out;
}
.product-detail .heading .cart_btn:hover {
    color: var(--e-global-color-white) !important;
    background: var(--e-global-color-secondary);
}
.product-detail .heading .cart_btn:hover .circle {
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-secondary);
}
.product-detail .heading .category_wrapper {
    margin-bottom: 10px;
}
.product-detail .heading .category_wrapper span {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: var(--e-global-color-secondary);
    padding-right: 5px;
}
.product-detail .heading .category_wrapper a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: var(--e-global-color-text);
    transition: all 0.3s ease-in-out;
}
.product-detail .heading .category_wrapper a:hover {
    color: var(--e-global-color-accent);
}
.product-detail .heading .tag_wrapper span {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: var(--e-global-color-secondary);
    padding-right: 5px;
}
.product-detail .heading .tag_wrapper a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: var(--e-global-color-text);
    transition: all 0.3s ease-in-out;
}
.product-detail .heading .tag_wrapper a:hover {
    color: var(--e-global-color-accent);
}
.product-detail .heading .quatity_button_wrapper {
    margin-bottom: 30px;
}
.product-detail .heading .quantity-field {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px; 
    height: 40px;
    margin-right: 10px;
}
.product-detail .heading .quantity-field .value-button{ 
    border: 1px solid rgb(0 0 0 / 10%);
    margin: 0px;
    width: 40px;
    height: 100%;   
    padding: 0;
    background: var(--e-global-color-white); 
    outline: none;
    cursor: pointer;
}
.product-detail .heading .quantity-field .value-button:hover {
    background: rgb(230, 230, 230);
}
.product-detail .heading .quantity-field .value-button:active{
    background: rgb(210, 210, 210);
}
.product-detail .heading .quantity-field .decrease-button {
    margin-right: -4px;
}
.product-detail .heading .quantity-field .increase-button {
    margin-left: -4px;
}
.product-detail .heading .quantity-field .number{
    display: inline-block;
    text-align: center;
    border: none;
    border-top: 1px solid rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin: 0px;
    width: 40px;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box; 
    background: var(--e-global-color-white);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
}
.product-detail .heading .quantity-field .number::selection{
    background: none;
}

/* Product Detail Page More Information Section */

.more_information_section {
    background: var(--e-global-color-secondary);
    padding: 130px 0;
}
.more_information_section .nav-tabs {
    border-bottom: 0px solid var(--e-global-color-accent);
    padding: 0;
    margin-bottom: 40px;
}
.more_information_section .tabs-box .nav-tabs li {
    margin: 0 21px;
}
.more_information_section .tabs-box .nav-tabs li:first-child {
    margin-left: 0;
}
.more_information_section .tabs-box .nav-tabs li:last-child {
    margin-right: 0;
}
.more_information_section .tabs-box .nav-tabs li a {
    display: inline-block;
    color: var(--e-global-color-white);
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 4px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.more_information_section .tabs-box .nav-tabs li a:hover {
    cursor: pointer;
    color: var(--e-global-color-accent);
    border-bottom: 2px solid var(--e-global-color-accent);
}
.more_information_section .tabs-box .nav-tabs li a.active {
    color: var(--e-global-color-accent);
    border-bottom: 2px solid var(--e-global-color-accent);
}
.more_information_section .description_content p {
    color: var(--e-global-color-white);
}
.more_information_section .information_content table {
    width: 100%;
}
.more_information_section .information_content table tr:nth-child(odd) th{
    border: 1px solid var(--e-global-color-white);
    border-radius: 10px;
}
.more_information_section .information_content table tr:nth-child(odd) td{
    border: 1px solid var(--e-global-color-white);
    border-radius: 10px;
}
.more_information_section .information_content table tr th {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--e-global-color-primary);
}
.more_information_section .information_content table tr td {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-primary);
}
.more_information_section .reviews_content_box {
    border: 2px solid var(--e-global-color-white);
    padding: 40px 45px 35px 30px;
    margin-bottom: 28px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.more_information_section .reviews_content_box h5 {
    font-size: 20px;
    color: var(--e-global-color-primary);
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.more_information_section .reviews_content_box p {
    color: var(--e-global-color-white);
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}
.more_information_section .reviews_content_box figure{
    width: 7%;
}
.more_information_section .reviews_content_box figure img {
    border-radius: 100%;
}
.more_information_section .reviews_content_box .text_wrapper{
    width: 93%;
    display: inline-block;
    padding-left: 15px;
}
.more_information_section .reviews_content_box ul li {
    display: inline-block;
}
.more_information_section .reviews_content_box ul li i {
    color: #f7b302;
    font-size: 16px;
    line-height: 16px;
}
.more_information_section .reviews_content h6 {
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    color: var(--e-global-color-accent);
}
.more_information_section .reviews_content h3 {
    margin-bottom: 35px;
    color: var(--e-global-color-primary);
}
.more_information_section .reviews_content form input, .more_information_section .reviews_content form textarea {
    /* font-family: 'Inter', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--e-global-color-white);
    color: var(--e-global-color-white) !important;
    border-radius: 0;
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
    margin-left: 0;
    outline: none;    
    border-radius: 10px;
}
.more_information_section .reviews_content form textarea {
    height: 150px;
    margin-bottom: 30px;
    width: 100%;
    padding: 15px 20px;
}
.more_information_section .reviews_content .form-control::placeholder{
    color: var(--e-global-color-white);
}
.more_information_section .reviews_content .form-control:focus{
    box-shadow: none;
}
.more_information_section .reviews_content button {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    /* font-family: 'Inter', sans-serif; */
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: var(--e-global-color-white) !important;
    background: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
    border: none;
}
.more_information_section .reviews_content button .circle {
    font-size: 18px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 3px 0 18px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    font-family: 'FontAwesome';
    color: var(--e-global-color-accent);
    background: var(--e-global-color-white);
}
.more_information_section .reviews_content button:hover {
    color: var(--e-global-color-accent) !important;
    background: var(--e-global-color-white);
}
.more_information_section .reviews_content button:hover .circle {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-white);
}

/* Product Detail Page Related Product Section */

.related_product_section {
    padding: 130px 0;
}
.related_product_section .related_product_content h3 {
    color: var(--e-global-color-secondary);
    margin-bottom: 40px;
}
.related_product_section .related_product_box {
    background: var(--e-global-color-white);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 15%);
    margin-bottom: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box .related_product_image_box {
    text-align: center;
}
.related_product_section .related_product_box .related_product_box_content {
    padding: 25px 30px;
}
.related_product_section .related_product_box .related_product_image_box figure img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.related_product_section .related_product_box .related_product_box_content ul {
    margin-bottom: 10px;
}
.related_product_section .related_product_box .related_product_box_content ul li {
    display: inline-block;
}
.related_product_section .related_product_box .related_product_box_content ul li i {
    color: #f7b302;
    font-size: 12px;
    line-height: 12px;
}
.related_product_section .related_product_box .related_product_box_content h5 {
    font-size: 20px;
    line-height: 26px;
    color: var(--e-global-color-secondary);
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box .related_product_box_content p {
    color: var(--e-global-color-text);
    margin-bottom: 14px;
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box .related_product_box_content .price_wrapper {
    margin-bottom: 12px;
}
.related_product_section .related_product_box .related_product_box_content .price_wrapper span {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: var(--e-global-color-secondary);
    margin-left: -5px;
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box .related_product_box_content .price_wrapper .dollar {
    margin-left: 0;
    padding-right: 5px;
}
.related_product_section .related_product_box .related_product_box_content .btn_wrapper a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: var(--e-global-color-very-dark-gray);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box .related_product_box_content .btn_wrapper a i {
    font-family: 'FontAwesome';
    padding-left: 15px;
    font-size: 14px;
    line-height: 14px;
    color: var(--e-global-color-very-dark-gray);
    transition: all 0.3s ease-in-out;
}
.related_product_section .related_product_box:hover{
    background-color: var(--e-global-color-secondary);
    border: none;
}
.related_product_section .related_product_box:hover h5 {
    color: var(--e-global-color-white);
}
.related_product_section .related_product_box:hover p {
    color: var(--e-global-color-white);
}
.related_product_section .related_product_box:hover .price_wrapper span {
    color: var(--e-global-color-white);
}
.related_product_section .related_product_box:hover .btn_wrapper a {
    color: var(--e-global-color-white);
}
.related_product_section .related_product_box:hover .btn_wrapper a i {
    color: var(--e-global-color-white);
}
.related_product_section .related_product_box .btn_wrapper a:hover {
    color: var(--e-global-color-accent);
} 
.related_product_section .related_product_box .btn_wrapper a:hover i {
    color: var(--e-global-color-accent);
}

/* Responsive media */

@media screen and (max-width: 1440px){
.nft-section {padding: 100px 0;}
/* Shop */
.shop_section {padding: 100px 0 70px;}
.shop_section .shop_box .shop_box_content {padding: 25px 20px;}
.related_product_section .related_product_box .related_product_box_content {padding: 25px 20px;}
/* Product-detail */
.product-detail .heading h3 {margin-bottom: 12px;}
.product-detail .heading .price_wrapper {margin-bottom: 10px;}
.product-detail .heading p {margin-bottom: 12px;}
.product-detail .heading ul {margin-bottom: 15px;}
.product-detail .heading .quatity_button_wrapper {margin-bottom: 15px;}
.more_information_section {padding: 100px 0;}
.related_product_section {padding: 100px 0;}
/* Cart */
.checkout-section .preview-box .btn-outer .btn {padding: 20px 35px;}
.checkout-section .preview-box .btn-outer .btn .circle {height: 43px; width: 43px; line-height: 43px;}
}

@media screen and (max-width: 1199px){
/* Cart & Checkout Pages */
.product-detail { padding: 100px 0; }
.product-detail .product-tab ul li { width: 31.2%; }
.product-detail .auction-top .bidder { font-size: 16px;  line-height: 24px; }
.product-detail .auction-middle .name { font-size: 16px; }
.product-detail .auction-middle .ending { font-size: 16px;  line-height: 24px; }
.product-detail .auction-middle .left { width: 60%; }
.product-detail .auction-middle .right { width: 40%; }
.product-detail .auction-top figure { margin-right: 10px; }
.product-detail .heading ul li { font-size: 16px;  line-height: 24px; }
.product-detail .heading { margin-bottom: 30px; }
.nft-section { padding: 80px 0; }
.nft-section .circle { right: -25px; }
.nft-section .create-nft-box .form-group { width: 46.5%; }
.nft-section .create-nft-box .form-group label {margin-bottom: 8px;}
.nft-section .create-nft-box .form-group .form-control {font-size: 14px; line-height: 20px; padding: 10px 15px 12px; margin-bottom: 18px; height: 45px;}
.checkout-section .create-nft-box .form-group select {background-position: 96.3% 20px !important;}
.checkout-section .preview-box .btn-outer .btn {padding: 18px 35px;}
.checkout-section .preview-box .btn-outer .btn .circle {height: 38px; width: 38px; line-height: 38px; margin: 0 3px 0 10px; font-size: 16px;}
/* Shop Page */
.shop_section {padding: 80px 0 55px;}
.shop_section .nav-tabs {margin-bottom: 45px;}
.shop_section .shop_box {margin-bottom: 25px;}
.shop_section .shop_box .shop_box_content {padding: 20px;}
.shop_section .shop_box .shop_box_content ul {margin-bottom: 8px;}
.shop_section .shop_box .shop_box_content p {margin-bottom: 10px;}
.shop_section .shop_box .shop_box_content .price_wrapper {margin-bottom: 6px;}
.shop_section .shop_box .shop_box_content .price_wrapper .dollar {padding-right: 4px;}
.shop_section .shop_box .shop_box_content .price_wrapper span {font-size: 18px; line-height: 24px;}
.shop_section .shop_box .shop_box_content .btn_wrapper a i {padding-left: 12px;}
/* Product detail Page */
.product-detail { padding: 80px 0 60px;}
.product-detail .product-tab ul li { width: 31.2%; }
.product-detail .heading h3 {margin-bottom: 12px;}
.product-detail .heading .price_wrapper {margin-bottom: 10px;}
.product-detail .heading p {margin-bottom: 12px;}
.product-detail .heading .price_wrapper span {font-size: 18px; line-height: 24px;}
.product-detail .heading ul {padding-left: 25px; margin-bottom: 12px;}
.product-detail .heading ul li .circle {top: 3px; left: -25px; width: 16px; height: 16px; line-height: 16px;}
/* .product-detail .heading ul li .circle:before {font-size: 10px; top: 0px;} */
/* .product-detail .heading .cart_btn {font-size: 16px; line-height: 16px; padding: 5px 2px 5px 28px;} */
.product-detail .heading .cart_btn .circle {height: 38px; width: 38px; line-height: 38px; margin: 0 3px 0 10px; font-size: 16px;}
.product-detail .heading a i {padding-left: 20px;}
.product-detail .heading .category_wrapper span {font-size: 16px; line-height: 24px;}
.product-detail .heading .tag_wrapper span {font-size: 16px; line-height: 24px;}
.more_information_section {padding: 80px 0;}
.more_information_section .nav-tabs {margin-bottom: 35px;}
.more_information_section .reviews_content_box {padding: 35px 35px 35px 30px; margin-bottom: 25px;}
.more_information_section .reviews_content h3 {margin-bottom: 30px;}
.more_information_section .reviews_content form input, .more_information_section .reviews_content form textarea {padding: 8px 18px; height: 52px; margin-bottom: 18px;}
.more_information_section .reviews_content form textarea {height: 140px; margin-bottom: 25px; padding: 12px 18px;}
.more_information_section .reviews_content_box h5 {font-size: 18px;}
.more_information_section .reviews_content button {font-size: 16px; line-height: 16px; padding: 18px 35px;}
.more_information_section .reviews_content button .circle {height: 40px; width: 40px; line-height: 40px; margin: 0 3px 0 10px; font-size: 16px;}
.more_information_section .reviews_content_box p {margin-bottom: 8px;}
.more_information_section .reviews_content_box ul li i {font-size: 14px; line-height: 14px;}
.related_product_section {padding: 80px 0;}
.related_product_section .related_product_content h3 {margin-bottom: 35px;}
.related_product_section .related_product_box .related_product_box_content {padding: 20px;}
.related_product_section .related_product_box .related_product_box_content ul {margin-bottom: 8px;}
.related_product_section .related_product_box .related_product_box_content p {margin-bottom: 10px;}
.related_product_section .related_product_box .related_product_box_content .price_wrapper {margin-bottom: 6px;}
.related_product_section .related_product_box .related_product_box_content .price_wrapper span {font-size: 18px; line-height: 24px;}
.related_product_section .related_product_box .related_product_box_content .btn_wrapper a i {padding-left: 12px;}
}
    
@media screen and (max-width: 991px) {
/* Cart & Checkout Pages */
.product-detail .product-tab ul li {width: 30.5%; }
.product-detail .auction-box { padding: 15px; }
.product-detail .auction-middle .left { width: 55%; }
.product-detail .auction-middle .right { width: 45%; }
.product-detail .auction-middle .time { font-size: 14px; }
.product-detail .auction-middle {margin-bottom: 10px; }
.product-detail .heading { margin-bottom: 20px; }
.product-detail .heading h5 { margin-bottom: 10px; }
.product-detail .heading h2 { margin-bottom: 15px; }
.product-detail .product-tab .tab-pane { padding: 15px; }
.nft-section { padding: 60px 0; }
.nft-section .preview-box-middle .left .name { font-size: 16px; }
.nft-section .preview-box-middle .right .bid { font-size: 13px; }
.nft-section .preview-box-middle .right .price { font-size: 16px; }
.nft-section .preview-box a { font-size: 16px;  line-height: 16px;  padding: 18px 23px; }
.nft-section .preview-box-middle { padding-bottom: 25px; }
.nft-section .create-nft-box .form-group .form-control { font-size: 14px;  font-weight: 500;  height: 50px;  line-height: 14px;  padding: 0 15px; }
.nft-section .create-nft-box .form-group select { background-position: 91% 21px !important; }
.nft-section .create-nft-box .form-group { width: 46.6%;  margin: 0 6px; }
.nft-section .create-nft-box .form-group .form-control {padding: 10px 12px 11px; margin-bottom: 16px; height: 42px;}
.nft-section .create-nft-box .form-group textarea { height: 110px !important; }
.nft-section .create-nft-box .form-check { width: 100%;  padding-top: 10px;  padding-bottom: 20px; }
.nft-section .create-nft-box .btn { font-size: 16px;  line-height: 16px;  padding: 18px 40px;  width: 97%;  margin: 0 6px; }
.nft-section .create-nft-box .btn-outer { padding-top: 0px; }
.nft-section .create-nft-box .form-check input { width: 20px;  height: 20px;  line-height: 20px; }
.nft-section .create-nft-box .form-check label { line-height: 18px; }
.checkout-section .preview-box .product-outer .total { padding-top: 5px;  font-size: 14px; }
.checkout-section .preview-box .total-price-outer .total { padding-top: 5px;  font-size: 14px; }
#search input[type="search"] { font-size: 36px; }
.checkout-section .create-nft-box .form-group select { background-position: 94.3% 18px !important; }
.cart-section .product-image { width: 20%; }
.cart-section .product-details { width: 30%; }
.cart-section .product-price { width: 16%; }
.cart-section .product-quantity { width: 13%; }
.checkout-section .preview-box .btn-outer .btn {padding: 16px 30px;}
/* Shop Page */
.shop_section {padding: 60px 0 40px;}
.shop_section .nav-tabs {margin-bottom: 35px;}
.shop_section .tabs-box .nav-tabs li {margin: 0 15px;}
.shop_section .shop_box {margin-bottom: 20px;}
.shop_section .shop_box .shop_box_content {padding: 15px 16px;}
.shop_section .shop_box .shop_box_content ul {margin-bottom: 5px;}
.shop_section .shop_box .shop_box_content h5 {font-size: 18px; line-height: 24px;}
.shop_section .shop_box .shop_box_content p {margin-bottom: 8px; font-size: 14px; line-height: 22px;}
.shop_section .shop_box .shop_box_content .price_wrapper {margin-bottom: 4px;}
.shop_section .shop_box .shop_box_content .price_wrapper span {font-size: 16px; line-height: 22px;}
.shop_section .shop_box .shop_box_content .btn_wrapper a i {padding-left: 10px;}
/* Product detail Page */
.product-detail {padding: 70px 0 46px;}
.product-detail .heading h3 {margin-bottom: 10px;}
.product-detail .heading .price_wrapper {margin-bottom: 6px;}
.product-detail .heading p {font-size: 16px; line-height: 24px; margin-bottom: 10px;}
.product-detail .heading ul {padding-left: 22px;}
.product-detail .heading ul li {margin-bottom: 8px;}
.product-detail .heading ul li .circle {top: 4px; left: -22px; width: 15px; height: 15px; line-height: 15px;}
/* .product-detail .heading ul li .circle:before {left: 3px;} */
.product-detail .heading .cart_btn {padding: 15px 25px;}
.product-detail .heading .cart_btn .circle {height: 35px; width: 35px; line-height: 37px;}
.product-detail .product-tab ul li {width: 30.5%; }
.product-detail .product-tab .tab-pane { padding: 15px; }
.product-detail .heading a i {padding-left: 15px;}
.product-detail .heading .category_wrapper a {font-size: 14px; line-height: 14px;}
.product-detail .heading .tag_wrapper a {font-size: 14px; line-height: 14px;}
.more_information_section {padding: 60px 0;}
.more_information_section .nav-tabs {margin-bottom: 30px;}
.more_information_section .tabs-box .nav-tabs li {margin: 0 15px;}
.more_information_section .tabs-box .nav-tabs li a {font-size: 18px; line-height: 18px;}
.more_information_section .information_content table tr th {padding: 8px 12px; font-size: 14px; line-height: 18px;}
.more_information_section .information_content table tr td {padding: 8px 12px; font-size: 14px; line-height: 18px;}
.more_information_section .reviews_content_box {padding: 30px 25px; margin-bottom: 20px;}
.more_information_section .reviews_content_box figure {width: 12%;}
.more_information_section .reviews_content_box .text_wrapper {width: 88%; padding-left: 5px;}
.more_information_section .reviews_content_box h5 {font-size: 16px; margin-bottom: 2px;}
.more_information_section .reviews_content_box p {margin-bottom: 5px;}
.more_information_section .reviews_content_box ul li i {font-size: 12px; line-height: 12px;}
.more_information_section .reviews_content h6 {margin-bottom: 5px;}
.more_information_section .reviews_content h3 {margin-bottom: 20px}
.more_information_section .reviews_content form input,
.more_information_section .reviews_content form textarea {padding: 5px 15px; height: 48px; margin-bottom: 15px; font-size: 14px; line-height: 20px;}
.more_information_section .reviews_content form textarea {height: 125px; margin-bottom: 20px; padding: 10px 15px;}
/* .more_information_section .reviews_content button {padding: 4px 2px 4px 24px;} */
.related_product_section {padding: 60px 0;}
.related_product_section .related_product_content h3 {font-size: 24px; line-height: 30px; margin-bottom: 30px;}
.related_product_section .related_product_box .related_product_box_content {padding: 15px 20px;}
.related_product_section .related_product_box .related_product_box_content ul {margin-bottom: 5px;}
.related_product_section .related_product_box .related_product_box_content h5 {font-size: 18px; line-height: 24px;}
.related_product_section .related_product_box .related_product_box_content p {margin-bottom: 8px; font-size: 14px; line-height: 22px;}
.related_product_section .related_product_box .related_product_box_content .price_wrapper {margin-bottom: 4px;}
.related_product_section .related_product_box .related_product_box_content .price_wrapper .dollar {padding-right: 4px;}
.related_product_section .related_product_box .related_product_box_content .price_wrapper span {font-size: 16px; line-height: 22px;}
.related_product_section .related_product_box .related_product_box_content .btn_wrapper a i {padding-left: 10px;}
}
    
@media screen and (max-width: 767px){
/* Cart & Checkout Pages */
.product-detail .heading h2 { padding: 0; }
.product-detail .heading p { margin-bottom: 15px;  padding: 0 30px 0 0;}
.product-detail .auction-middle { margin-bottom: 20px; }
.product-detail .auction-middle .ending { font-size: 16px; }
.placebid-modal-wrapper .modal-header h3 { font-size: 26px;  line-height: 32px; }
.placebid-modal-wrapper .btn-close svg {height: 18px;  line-height: 18px; }
.nft-section { padding: 40px 0; }
.nft-section .circle { display: none; }
.nft-section .preview-box .preview-img img { width: 100%; }
.nft-section .create-nft-box .form-group label { font-size: 14px;  line-height: 14px; }
.nft-section .create-nft-box .form-check label { font-size: 14px;  line-height: 18px;  margin-left: 10px; }
.nft-section .create-nft-box .form-group { width: 47.9%; margin: 0 5px; }
.nft-section .create-nft-box .special { width: 98% !important; }
.nft-section .preview-box-middle .right { text-align: right; }
#search input[type="search"] { font-size: 30px; }
.checkout-section .create-nft-box .form-group select { background-position: 96.3% 18px !important; }
.cart-section .product-detail-box { padding: 30px; }
/* .cart-section .shopping-cart { margin: 0;  padding-top: 20px;  border-top: 1px solid rgb(0 0 0 / 10%); } */
.cart-section .column-labels { display: none; }
.cart-section .product-image { text-align: center;  float: right;  width: auto; }
.cart-section .product-image img {margin: 0 0 10px 10px; }
.cart-section .product-details { float: none;  margin-bottom: 10px;  width: auto; }
.cart-section .product-price { clear: both;  width: 90px; }
.cart-section .product-quantity {width: 100px; }
.cart-section .product-quantity input { margin-left: 20px; }
.cart-section .product-quantity:before { content: 'x'; }
.cart-section .product-removal { width: auto; }
.cart-section .product-line-price { float: right;  width: 70px; }
.cart-section .product .product-quantity input { width: 45px;  height: 28px; }
.checkout-section .preview-box .btn-outer .btn {padding: 15px 25px;}
.checkout-section .preview-box .btn-outer .btn .circle {height: 35px; width: 35px; line-height: 35px;}
/* Shop Page */
.shop_section {padding: 40px 0 20px;}
.shop_section .nav-tabs {margin-bottom: 30px;}
.shop_section .tabs-box .nav-tabs li {margin: 0 12px;}
.shop_section .tabs-box .nav-tabs li a {font-size: 14px; line-height: 14px;}
.shop_section .shop_box .shop_box_content ul li i {font-size: 10px; line-height: 10px;}
.shop_section .shop_box .shop_box_content {padding: 15px 10px;}
/* Product detail Page */
.product-detail {padding: 40px 0 18px;}
.product-detail .heading h3 {font-size: 22px; line-height: 28px; margin-bottom: 10px;}
.product-detail .heading ul li {margin-bottom: 6px;}
.product-detail .heading .price_wrapper {margin-bottom: 5px;}
.product-detail .heading .price_wrapper .dollar {padding-right: 4px;}
.product-detail .heading .price_wrapper span {font-size: 16px; line-height: 22px;}
.product-detail .heading p {margin-bottom: 15px;}
.product-detail .heading .quatity_button_wrapper {margin-bottom: 12px;}
.product-detail .heading .quantity-field {width: 100px; height: 40px;}
.product-detail .heading .quantity-field .decrease-button {margin-right: -5px;}
.product-detail .heading .quantity-field .value-button {width: 35px; height: 90%;}
.product-detail .heading .quantity-field .number {width: 35px; height: 90%; line-height: 35px;}
.product-detail .heading .quantity-field .increase-button {margin-left: -5px;}
.product-detail .heading .cart_btn {padding: 14px 25px;}
.product-detail .heading .cart_btn .circle {height: 35px; width: 35px; line-height: 35px;}
.product-detail .heading a i {padding-left: 12px;}
.product-detail .heading .category_wrapper {margin-bottom: 8px;}
.nft-section .create-nft-box .form-group .form-control {margin-bottom: 18px;}
.more_information_section {padding: 40px 0;}
.more_information_section .tabs-box .nav-tabs li a {padding: 8px 2px;}
.more_information_section .tabs-box .nav-tabs li {margin: 0 12px;}
.more_information_section .nav-tabs {margin-bottom: 25px;}
.more_information_section .reviews_content_box {padding: 25px 20px; margin-bottom: 15px;}
.more_information_section .reviews_content_box figure {width: 15%;}
.more_information_section .reviews_content_box .text_wrapper {width: 85%; padding-left: 10px;}
.more_information_section .reviews_content h3 {margin-bottom: 15px;}
.more_information_section .reviews_content form input,
.more_information_section .reviews_content form textarea {padding: 5px 12px; height: 45px; margin-bottom: 12px;}
.more_information_section .reviews_content form textarea {height: 110px; margin-bottom: 15px; padding: 8px 12px;}
.more_information_section .reviews_content button {padding: 15px 30px;}
.more_information_section .reviews_content button .circle {height: 35px; width: 35px; line-height: 35px;}
.related_product_section {padding: 40px 0 20px;}
.related_product_section .related_product_content h3 {font-size: 22px; line-height: 28px; margin-bottom: 25px;}
.related_product_section .related_product_box .related_product_box_content ul li i {font-size: 10px; line-height: 10px;}
.related_product_section .related_product_box {margin-bottom: 20px;}
}
    
@media screen and (max-width: 575px){
/* Cart & Checkout Pages */
.product-detail .heading p { font-size: 14px; line-height: 22px; margin-bottom: 10px;  padding: 0;}
.product-detail .heading .cart_btn .circle {height: 30px; width: 30px; line-height: 30px; font-size: 14px;}
.product-detail .heading ul li { font-size: 14px;  line-height: 24px; margin-bottom: 5px; }
.product-detail .auction-box { margin: 0; }
.product-detail .auction-middle { margin-bottom: 10px; }
.product-detail .auction-top .bidder { font-size: 14px;  line-height: 20px; }
.product-detail .auction-middle .ending { margin-bottom: 8px; }
.placebid-modal-wrapper .modal-dialog { max-width: 100%;  margin: 0 15px;}
.placebid-modal-wrapper .modal-content { padding: 20px; }
.placebid-modal-wrapper .modal-header h3 { font-size: 24px;  line-height: 30px; }
.placebid-modal-wrapper .modal-header { margin-bottom: 10px; }
.placebid-modal-wrapper p { padding: 0 15px; }
.placebid-modal-wrapper .modal-body .placebid-form-box .bid-content .bid-content-top .bid-content-left input {font-size: 14px;  height: 45px;  line-height: 45px; }
.placebid-modal-wrapper .modal-body .placebid-form-box .bid-content .bid-content-top .bid-content-left span { font-size: 14px; }
.placebid-modal-wrapper .bid-content-mid span { font-size: 14px;  line-height: 18px; }
.placebid-modal-wrapper .bit-continue-button a, .placebid-modal-wrapper .bit-continue-button .cancel {font-size: 14px;  line-height: 14px; }
.nft-section .create-nft-box { padding: 30px 20px; }
.nft-section .create-nft-box .form-group {width: 100%; margin: 0; }
.nft-section .create-nft-box .form-group select { background-position: 93.5% 19px !important; }
.nft-section .create-nft-box .special { width: 100% !important; }
/* .nft-section .create-nft-box .form-group .form-control { height: 46px;  line-height: 20px; } */
.nft-section .create-nft-box .form-check { padding-top: 0px;  padding-bottom: 20px;  padding-left: 20px; }
.nft-section .create-nft-box .form-check input { width: 16px;  height: 16px;  line-height: 16px; }
.nft-section .create-nft-box .form-check label { font-size: 14px;  line-height: 14px;  margin-left: 5px; }
.nft-section .create-nft-box .btn { font-size: 14px; line-height: 14px;  padding: 14px 30px;  width: 100%;  margin: 0 auto; }
.nft-section .preview-box-middle { padding-bottom: 20px; margin-bottom: 20px; }
.nft-section .preview-box-top i { font-size: 18px;  line-height: 24px; }
.nft-section .preview-box a { font-size: 14px;  line-height: 14px; padding: 14px 20px; }
.checkout-section .preview-box .btn-outer .btn {padding: 12px 20px 14px; font-size: 14px; line-height: 18px;}
.checkout-section .preview-box .btn-outer .btn .circle { height: 30px; width: 30px; line-height: 30px; font-size: 14px;}
#search input[type="search"] {font-size: 24px; }
.cart-section .product .product-image img { width: 65px;}
.cart-section .product-removal { float: right; }
.cart-section .product-line-price { float: right;  clear: left;  width: auto;  margin-top: 10px;  font-size: 14px; }
.cart-section .product .product-line-price:before { content: 'Item Total:';  font-size: 14px; }
.cart-section .totals .totals-item label { width: 60%; }
.cart-section .totals .totals-item .totals-value { width: 40%; }
.cart-section .product-price { font-size: 14px; }
/* Shop Page */
.shop_section .nav-tabs {margin-bottom: 25px;}
.shop_section .tabs-box .nav-tabs li {margin: 0px 2px;}
.shop_section .shop_box {width: 330px; margin: 0 auto 20px;}
.shop_section .shop_box .shop_box_content {padding: 12px;}
.shop_section .shop_box .shop_box_content .btn_wrapper a i {padding-left: 8px; font-size: 12px; line-height: 12px;}
/* Product detail Page */
.product-detail .heading h3 {font-size: 20px; line-height: 26px;}
.product-detail .heading a i {padding-left: 10px; font-size: 12px; line-height: 12px;}
.product-detail .heading .cart_btn {padding: 12px 25px; font-size: 14px; line-height: 14px;}
/* .more_information_section .description_content p {font-size: 12px; line-height: 22px;} */
.more_information_section .tabs-box .nav-tabs li a { font-size: 14px; line-height: 14px;}
.more_information_section .nav-tabs {margin-bottom: 20px;}
.more_information_section .tabs-box .nav-tabs li {margin: 0 8px;}
.more_information_section .information_content table tr td {padding: 10px 10px; line-height: 20px;}
.more_information_section .information_content table tr th {padding: 10px 10px; line-height: 20px;}
.more_information_section .reviews_content_box figure {width: 23%;}
.more_information_section .reviews_content_box .text_wrapper {width: 77%; padding-left: 15px;}
.more_information_section .reviews_content_box p {margin-bottom: 0;}
.more_information_section .reviews_content_box ul li i {font-size: 10px; line-height: 10px;}
.more_information_section .reviews_content button .circle {height: 35px; width: 35px; line-height: 37px; font-size: 14px;}
.more_information_section .reviews_content button {padding: 14px 30px 16px; font-size: 14px; line-height: 14px;}
/* .related_product_section {padding: 55px 0 40px;} */
.related_product_section .related_product_content h3 {font-size: 20px; line-height: 26px; margin-bottom: 20px;}
.related_product_section .related_product_box .related_product_box_content .btn_wrapper a i {padding-left: 8px; font-size: 12px; line-height: 12px;}
}